<div th:fragment="navbar" xmlns:sec="http://www.w3.org/1999/xhtml">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/index}">Booking App</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li sec:authorize="isAnonymous()" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/register}">Register</a>
        </li>
        <li sec:authorize="isAnonymous()" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/login}">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/hotel/list}">Hotels</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/reservation/list}">Reservations</a>
        </li>
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/logout}">Logout</a>
        </li>
        <li sec:authorize="hasRole('ROLE_USER')" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/users}">Users</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/users/admin}">Users</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/hotel/add}">Add hotel</a>
        </li>
        <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
          <a class="nav-link active" aria-current="page" th:href="@{/room/add}">Add room</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li sec:authorize="isAuthenticated()" class="nav-item">
          <span class="nav-link active">Logged in as: <span sec:authentication="name"></span></span>
        </li>
      </ul>
    </div>
  </div>
</nav>
</div>
